# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# Distribution files
*.egg-info/
dist/
build/

# IDE files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
